@model EpinelPS.Models.User

@{
    ViewData["Title"] = "Delete user";
}

<h1 data-i18n="users.delete.title">删除用户</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3 data-i18n="users.delete.confirmation">您确定要删除这个用户吗？</h3>
<div>
    <h4 data-i18n="users.table.username">用户</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2" data-i18n="users.table.username">
            用户名
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2" data-i18n="users.table.isAdmin">
            管理员权限
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class="col-sm-2" data-i18n="users.table.playerName">
            玩家名称
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class="col-sm-2" data-i18n="users.table.nickname">
            昵称
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class="col-sm-2" data-i18n="users.table.isBanned">
            禁止登录
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBanned)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="删除" class="btn btn-danger" data-i18n="common.delete" /> |
        <a asp-action="Index" data-i18n="users.delete.backToList">返回列表</a>
    </form>
</div>