@model IEnumerable<EpinelPS.Database.User>
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nickname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>

                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-action="SetPassword" asp-route-id="@item.ID">Change Password</a> |
                <a asp-action="Modify" asp-route-id="@item.ID">Modify</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>